@{
    ViewData["Title"] = "Index";
}
<h1>TP 04 Index</h1>
<h2>Index</h2>
<p>¡Bienvenido a la mejor página para el turismo!</p>
<a href='@Url.Action("SelectPaquete", "Home")' alt = "Generar Paquete"> Selecciona tu paquete</a>
  @foreach (string destino in ORTWorld.Paquetes.Keys)
    {
        <p>La companía aerea es  @ViewBag.ListaAereo</p>
        <p>La excursion es   @ORTWorld.Paquetes[destino].Excursion</p>
        <p>El hotel es   @ORTWorld.Paquetes[destino].Hotel</p>
    }
